body{
    background-color: antiquewhite;
}

.Heading{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
}

.Subheading{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.OuterDisplayQues{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 10px;
}

.DisplayQues{
    border: 2px solid black;
    padding: 10px;
    background-color: lightgrey;
}

.ButtonWrap{
margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.QuesNo{
    margin: 71px 0px 0px 10px;
    display: flex;
}

@media(min-width:1280px){
    .QuesNo{
    margin: 71px 0px 0px 10%;
    }
}

@media(min-width:1366px){
    .QuesNo{
    margin: 71px 0px 0px 12.5%;
    }
}

@media(min-width:1440px){
    .QuesNo{
    margin: 71px 0px 0px 14.5%;
    }
}

@media(min-width:1600px){
    .QuesNo{
    margin: 71px 0px 0px 18%;
    }
}

@media(min-width:1920px){
    .QuesNo{
    margin: 71px 0px 0px 23.5%;
    }
}

.Next{
    font-size: 14px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px 10px 3px 10px;
}

.Next:hover{
    cursor: pointer;
    opacity: 0.7;
}
.Next:disabled{
    cursor: not-allowed;
}

.Previous{
        font-size: 14px;
        border: 1px solid black;
        border-radius: 7px;
        padding: 3px 10px 3px 10px;

}

.Previous:hover{
    cursor: pointer;
}
.Previous:disabled{
    cursor: not-allowed;
}
